.element {
  background-color: #000000;
  overflow: hidden;
  transition: all 0.2s ease;
}

.element .overlap {
  position: relative;
  width: 2168px;
  height: 4431px;
  left: -238px;
}

.element .group {
  position: absolute;
  width: 1930px;
  height: 2482px;
  top: 0;
  left: 238px;
}

.element .overlap-group {
  position: absolute;
  width: 1920px;
  height: 1676px;
  top: 0;
  left: 0;
}

.element .background {
  position: absolute;
  width: 1920px;
  height: 1379px;
  top: 22px;
  left: 0;
  background-color: #fafafa;
}

.element .life-at-val {
  position: absolute;
  width: 1910px;
  height: 1082px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.element .text-wrapper {
  position: absolute;
  width: 125px;
  top: 56px;
  left: 255px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0.18px;
  line-height: 16px;
}

.element .div {
  position: absolute;
  width: 123px;
  top: 151px;
  left: 1742px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 2.16px;
  line-height: 16px;
}

.element .TOP-UP {
  position: absolute;
  width: 157px;
  top: 56px;
  left: 622px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0.18px;
  line-height: 16px;
}

.element .span {
  font-weight: 700;
  letter-spacing: 0.06px;
}

.element .text-wrapper-2 {
  font-weight: 500;
  letter-spacing: 0.06px;
}

.element .text-wrapper-3 {
  width: 132px;
  top: 56px;
  left: 1158px;
  font-size: 36px;
  letter-spacing: 0.18px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  line-height: 16px;
}

.element .text-wrapper-4 {
  width: 168px;
  top: 56px;
  left: 1500px;
  letter-spacing: 0.18px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  line-height: 16px;
}

.element .pinclipart-com {
  position: absolute;
  width: 122px;
  height: 122px;
  top: 15px;
  left: 1742px;
  object-fit: cover;
}

.element .rectangle {
  position: absolute;
  width: 1910px;
  height: 297px;
  top: 1082px;
  left: 0;
}

.element .img {
  position: absolute;
  width: 1910px;
  height: 297px;
  top: 1379px;
  left: 0;
}

.element .img-2 {
  top: 1209px;
  position: absolute;
  width: 225px;
  height: 225px;
  left: 639px;
  object-fit: cover;
}

.element .img-3 {
  top: 1209px;
  position: absolute;
  width: 225px;
  height: 225px;
  left: 211px;
  object-fit: cover;
}

.element .img-4 {
  top: 1209px;
  position: absolute;
  width: 231px;
  height: 226px;
  left: 1067px;
  object-fit: cover;
}

.element .img-5 {
  top: 1209px;
  position: absolute;
  width: 224px;
  height: 224px;
  left: 1501px;
}

.element .img-6 {
  top: 2275px;
  position: absolute;
  width: 225px;
  height: 225px;
  left: 639px;
  object-fit: cover;
}

.element .img-7 {
  top: 2275px;
  position: absolute;
  width: 225px;
  height: 225px;
  left: 211px;
  object-fit: cover;
}

.element .img-8 {
  top: 2275px;
  position: absolute;
  width: 231px;
  height: 226px;
  left: 1067px;
  object-fit: cover;
}

.element .img-9 {
  top: 2275px;
  position: absolute;
  width: 224px;
  height: 224px;
  left: 1501px;
}

.element .rectangle-2 {
  position: absolute;
  width: 1910px;
  height: 2450px;
  top: 1882px;
  left: 0;
}

.element .white-playstation {
  position: absolute;
  width: 266px;
  height: 328px;
  top: 1348px;
  left: 238px;
  object-fit: cover;
}

.element .rectangle-3 {
  position: absolute;
  width: 1417px;
  height: 265px;
  top: 1738px;
  left: 484px;
}

.element .screenshot {
  position: absolute;
  width: 1164px;
  height: 389px;
  top: 1676px;
  left: 611px;
  object-fit: cover;
}

.element .black-dualshock {
  position: absolute;
  width: 282px;
  height: 269px;
  top: 1796px;
  left: 1685px;
  object-fit: cover;
}

.element .rectangle-4 {
  position: absolute;
  width: 1910px;
  height: 498px;
  top: 2919px;
  left: 238px;
  background-color: #ffffff;
}

.element .rectangle-5 {
  position: absolute;
  width: 1910px;
  height: 203px;
  top: 2588px;
  left: 238px;
  box-shadow: 0px 4px 4px #00000040;
  background: linear-gradient(180deg, rgb(217, 217, 217) 0%, rgb(0, 0, 0) 100%);
}

.element .rectangle-6 {
  position: absolute;
  width: 1910px;
  height: 498px;
  top: 3564px;
  left: 238px;
  background-color: #d0d0d0;
}

.element .rectangle-7 {
  position: absolute;
  width: 507px;
  height: 309px;
  top: 3013px;
  left: 449px;
  background-color: #000000;
}

.element .rectangle-8 {
  position: absolute;
  width: 507px;
  height: 309px;
  top: 3013px;
  left: 1460px;
  background-color: #000000;
}

.element .rectangle-9 {
  position: absolute;
  width: 259px;
  height: 91px;
  top: 3212px;
  left: 573px;
  background-color: #ffffff;
}

.element .rectangle-10 {
  position: absolute;
  width: 259px;
  height: 91px;
  top: 3212px;
  left: 1584px;
  background-color: #ffffff;
}

.element .image {
  position: absolute;
  width: 151px;
  height: 151px;
  top: 3061px;
  left: 627px;
  object-fit: cover;
}

.element .image-2 {
  position: absolute;
  width: 188px;
  height: 188px;
  top: 3043px;
  left: 1620px;
  object-fit: cover;
}

.element .ryu-game-house {
  position: absolute;
  width: 1362px;
  top: 3615px;
  left: 543px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 3.24px;
  line-height: 37px;
}

.element .text-wrapper-5 {
  width: 113px;
  top: 3045px;
  left: 1664px;
  font-size: 48px;
  letter-spacing: 0.24px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  line-height: 16px;
}

.element .text-wrapper-6 {
  width: 127px;
  top: 3248px;
  left: 1657px;
  color: #000000;
  letter-spacing: 0.18px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  font-size: 36px;
  line-height: 16px;
}

.element .text-wrapper-7 {
  width: 127px;
  top: 3248px;
  left: 651px;
  color: #000000;
  letter-spacing: 0.18px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  font-size: 36px;
  line-height: 16px;
}

.element .text-wrapper-8 {
  top: 2844px;
  left: 1052px;
  color: #ffffff;
  letter-spacing: 2.16px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  font-size: 36px;
  line-height: 16px;
}

.element .text-wrapper-9 {
  top: 3493px;
  left: 1111px;
  letter-spacing: 2.16px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  line-height: 16px;
}

.element .text-wrapper-10 {
  position: absolute;
  width: 194px;
  top: 3045px;
  left: 618px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0.24px;
  line-height: 16px;
}

.element .p {
  position: absolute;
  width: 728px;
  top: 2167px;
  left: 829px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0.18px;
  line-height: 16px;
}
